{
    // "presets": ["es2015"]
    //"presets": ["@babel/preset-env"],  //javascript
     "presets": ["@babel/preset-typescript"],  //typescript
    "plugins": [
      ["@babel/plugin-proposal-decorators", { "legacy": true }]
     // ["@babel/plugin-proposal-class-properties"]
    //   "babel-plugin-transform-typescript-metadata"
     ]
  }