{
    "presets": ["es2015"],
    "plugins": [
      ["@babel/plugin-proposal-decorators", { "legacy": true }],
      ["@babel/plugin-proposal-class-properties"],
      "babel-plugin-transform-typescript-metadata"
    ]
  }